XTerm*termName:		xterm-256color
xterm*font:		-*-courier-medium-r-*-*-14-*-*-*-*-*-iso10646-1
XTerm*bellIsUrgent: true

xterm*background:       black
xterm*foreground:       lightgray
xterm*color0:   black

!dark pink
xterm*color1:   #ff87af
!light orange
xterm*color2:   #ffaf5f
!dark orange
xterm*color3:   #d75f00
!dark cyan 
xterm*color4:   #008080
!dark purple
xterm*color5:   #870087
!cyan
xterm*color6:   #00ffff
!light gray
xterm*color7:   #c0c0c0

!gray
xterm*color8:   #3a3a3a
!pink
xterm*color9:   #ff005f
!x-light orange
xterm*color10:  #ffdf87
!orange
xterm*color11:  #ff5f00
!light cyan
xterm*color12:  #afffff
!bright purple
xterm*color13:  #d700ff
!x-light cyan
xterm*color14:  #dfffff
!x-light gray
xterm*color15:  #e4e4e4

! fixes alt/meta
XTerm*eightBitOutput: true
XTerm*eightBitInput: false
xeroxcat@PSEUDOCRAFT:~$ 
